<h2>Edit <%= @city.name %></h2>

<div>
  <form method="post" action="/cities/<%= @city.id %>">
  <fieldset>
    <label for="city-name">City Name:</label>
    <input type="text" name="name" id="city-name" value="<%= @city.name %>"/>
  </fieldset>
  <fieldset>
    <label for="country-id">Country Name:</label>
    <select id="country-id" name="country_id" selected="<%= @country.id %>">
      <% @countries.each do |country| %>
        <% if @city.country_id == country.id %>
          <option value=<%= country.id %> selected><%= country.name %></option>
        <% else %>
          <option value=<%= country.id %>><%= country.name %></option>
        <% end %>
      <% end %>
    </select>
  </fieldset>
    <input type="submit" value="Submit">
  </form>
</div>

<br />
<div>
  <a href="/cities/<%= @city.id %>">Back</a>
</div>
